<% provide(:title, 'All comments') %>
<h1>All comments</h1>

<%= render "search_form" %>

<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>Author</th>
    <th>Entry</th>
    <th>Content</th>
    <th>Commented at</th>
  </tr>
  <% @comments.each do |comment| -%>
  <tr>
    <td><%= link_to comment.id, comment_path(comment) %></td>
    <td>
      <%= gravatar_for comment.user, size: 64 %>
      <%= link_to comment.user.name, user_path(comment.user) %>
    </td>
    <td><%= link_to comment.entry.title, entry_path(comment.entry) %></td>
    <td><%= comment.content.to(60)+"..." %></td>
    <td><%= comment.created_at %></td>
  </tr>
  <% end %>
</table>

<%= will_paginate %>
